[[source]]
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
tqdm = "*"
torch = "*"
torchtext = "*"

[dev-packages]
sphinx = "*"
sphinx_rtd_theme = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
