[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
dill = "*"
fret = "*"
tqdm = "*"
torch = "*"
torchtext = "*"
tensorboardX = "*"

[dev-packages]
sphinx = "*"
sphinx_rtd_theme = "*"
pytest = ">=4"
pytest-cov = "*"

[requires]
python_version = "3.6"
