[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
torch = ">=0.4.0"

[dev-packages]
sphinx = "*"
sphinx_rtd_theme = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
